<div class="historico-container">
  <div class="cabecalho">
    <img src="assets/png/icon-history.png" alt="teste" />
    <div class="info">
      <span class="title">Histórico de Hábitos</span>
      <p class="description">Busque e visualize seus hábitos de dias anteriores</p>
    </div>
    <button mat-icon-button (click)="close()">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <div class="details">
    <mat-form-field appearance="outline" class="campo-data">
      <mat-label>Selecione uma data</mat-label>
      <input
        matInput
        [matDatepicker]="picker"
        [formControl]="dataSelecionada"
        placeholder="DD/MM/AAAA"
      />

      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>

      <mat-error *ngIf="dataSelecionada.invalid"> Por favor selecione uma data válida. </mat-error>
    </mat-form-field>

    <div (click)="filter()" class="filter">
      <span>Filtrar</span>
    </div>

    <div (click)="clear()" class="clear">
      <img src="assets/png/icon-close.png" alt="" />
      <span>Limpar</span>
    </div>
  </div>

  <div *ngIf="listHistorico.length > 0" class="data-selected">
    <div style="display: flex; gap: 12px">
      <img src="assets/png/icon-calendar.png" alt="" />
      <div class="info-data">
        <span class="selected"> Data selecionada:</span>
        <span class="date">5 de Dezembro</span>
      </div>
    </div>

    <div class="progress">
      <span class="progress-text">Progresso</span>
      <span class="porcentagem">100% </span>
    </div>
  </div>

  <div *ngIf="dataSelecionada.value === null || listHistorico.length === 0" class="container-image">
    <img src="assets/png/icon-find.png" />
    <span>Selecione uma data</span>
    <p>Escolha uma data acima para visualizar seus hábitos</p>
  </div>
</div>
