.historico-container {
  width: 560px;
  height: 465px;
  background-color: #1f2937;
  padding: 24px;

  .cabecalho {
    display: flex;
    outline: 1px solid #9ca3af2e;
    outline-offset: 25px;

    img {
      width: 40px;
      height: 40px;
      margin-right: 12px;
    }

    .info {
      .title {
        font-size: 17px;
        font-weight: bold;
        color: #fff;
      }

      .description {
        font-size: 12px;
        margin: 0;
        color: #9ca3af;
      }
    }

    button {
      margin-left: auto;

      mat-icon {
        color: #bbb;
      }
    }
  }

  .campo-data {
    margin-top: 60px;
  }
}
