.tittle {
  height: 100px;
  width: 831px;
  margin-bottom: 8px;

  .button-back {
    background-color: transparent;
    border: none;
    color: #3b82f6;
    font-size: 12px;
    display: flex;
    align-items: center;
    gap: 2px;
    cursor: pointer;
  }

  h2 {
    font-size: 24px;
    font-weight: bold;
    color: white;
    margin: 25px 0 9px 0;
  }

  p {
    color: #9ca3af;
  }
}

.conteudo {
  width: 832px;
  height: 731px;
  background-color: #1f2937;
  border-radius: 16px;
}
