<header>
  <div class="cabecalho">
    <img src="assets/icon-title.svg" alt="" />
    <h2 routerLink="/testes">Meu Progresso</h2>
    <div *ngIf="isAdmin()">
      <img src="assets/png/icon-admin.png" alt="" />
    </div>
  </div>

  <!-- Menu desktop -->
  <div class="changer-pages desktop-only">
    <div class="habito" routerLink="/dashboard">
      <img src="assets/png/icon-habitos.png" alt="" />
      Dashboard
    </div>
    <div class="user" *ngIf="isAdmin()" routerLink="/users">
      <img src="assets/png/icon-users.png" alt="" />
      Usúarios
    </div>
  </div>

  <!-- Menu desktop -->
  <div class="actions desktop-only">
    <div class="hello"><span style="color: #9ca3af">Olá</span> {{ usuario?.nome }}</div>
    <div (click)="logout()" class="logout">
      <img src="assets/svg/icon-logout.svg" alt="" />
      Sair
    </div>
  </div>

  <!-- Menu mobile -->
  <button class="hamburger mobile-only" [matMenuTriggerFor]="mobileMenu">
    <mat-icon>menu</mat-icon>
  </button>

  <!-- Menu mobile -->
  <mat-menu #mobileMenu="matMenu">
    <div class="mobile-menu-header" mat-menu-item disabled>
      <span style="color: #9ca3af">Olá</span>&nbsp;{{ usuario?.nome }}
    </div>
    <button mat-menu-item routerLink="/habits"><mat-icon>track_changes</mat-icon>Hábitos</button>
    <button mat-menu-item routerLink="/users"><mat-icon>people</mat-icon>Usúarios</button>
    <mat-divider></mat-divider>
    <button mat-menu-item (click)="logout()"><mat-icon>logout</mat-icon>Sair</button>
  </mat-menu>
</header>
