<mat-card class="habit-card">
  <div class="container">
    <div class="left">
      <img [src]="habito.icone" alt="" [style.background]="habito.cor" />
      <div class="text">
        <div class="title">{{ habito.nome }}</div>
        <div class="meta">Meta: {{ habito.meta }} {{ habito.unidade }}</div>
      </div>
    </div>

    <div class="right">
      <button mat-icon-button (click)="decrease()">
        <mat-icon>remove</mat-icon>
      </button>

      <span class="counter">{{ current }}/{{ habito.meta }}</span>

      <button mat-icon-button color="primary" (click)="increase()">
        <mat-icon>add</mat-icon>
      </button>
    </div>

    <div class="buttons">
      <img src="assets/png/icon-delete.png" alt="" (click)="deleteHabit(habito.id)" />
      <img src="assets/svg/icon-update.svg" alt="" (click)="updateHabit(habito.id)" />
    </div>
  </div>

  <mat-progress-bar
    [value]="(current / habito.meta) * 100"
    mode="determinate"
    [ngClass]="{ 'completed-bar': current === habito.meta }"
  >
  </mat-progress-bar>

  <div class="meta" *ngIf="current === habito.meta" [ngClass]="'completed-text'">
    <img src="assets/png/icon-goal-success.png" alt="" /> Meta concluída!
  </div>
</mat-card>
