html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.principal {
  width: 100%;
  height: 100vh; /* ocupa toda a altura da tela */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0f1219;
}
