div.conteudo {
  width: 1000px;
}
table {
  width: 100%;
  background-color: #1a1f2e;
}

th {
  color: #9ca3af;
  font-size: 12px;
  background-color: #151925 !important;
}

td {
  color: #9ca3af;
  font-size: 12px;
}

.name {
  color: #ffff;
}
