.container-habito {
  width: 400px;
  height: 208px;
  background-color: #1f2937;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.info {
  display: flex;
  gap: 20px;
}
.details {
  color: white;

  h3 {
    margin-bottom: 8px;
    font-size: 17px;
    font-weight: bold;
  }

  span {
    font-size: 12px;
    color: #9ca3af;

    .grife {
      color: white;
    }
  }
}

img {
  height: 48px;
  width: 48px;
}

.buttons {
  display: flex;
  gap: 5px;

  button {
    width: 50%;
    height: 46px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    color: white;
  }

  button:first-child {
    background-color: #374151;
  }
  button:last-child {
    background-color: #ef4444;
  }
}
